<center><h1>How Would Allocate Resources?</h1></center>

<p>The following is a randomized list of budget items that were discussed to change 
before the 2012 budget. How would you change the following items? We'll show you
what the City of London proposed.</p>

<p>Drag arrows up and down to prioritize your list. Higher in the 
list is more important than lower in the list</p>

<p>If you think London should spend more or less than previous years, select the
percentage you think a particular item should be changed. You can pick between -25% and 25%.</p>

<p>And finally, if we have missed a budget item that you wish was changed, there
is a text box at the bottom of the form for your comments.</p>

<h2>Tell Us What You Think!</h2>
<div id="formwrapper">
  <%= render 'form' %>
</div>
<%= link_to 'Back', feedbacks_path %>
