.chart {
  margin-top: 25px;
  width: 600px;
  height: 300px;
}

#expense {
  margin-top: 5px;
  margin-left: 75px;
  margin-right: 10px;
}

#expense a:hover {
  background-color: green;
}


#revenue {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

#total {
  margin-top: 5px;
  margin-left: 10px;
}
