// Place all the styles related to the feedbacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#formwrapper {
  margin-left: 130px;
}

.add_cuts_feedback {
  margin-left: 50px;
}

#add_cuts_items {
  margin-left: 50px;
  width: 650px;
  padding-left: 5%;
  padding-right: 5%;
  border-color: black;
  border-style: solid;
  text-align: center;
  th {
    text-decoration: underline;
  }
  .even {
    background-color: #999;
  }
}
