<div id="header">
</div>
<div id="topnav">  
  <ul id="navbar">
    <li><%= link_to "Home", '#' %></li>
    <li><%= link_to "Visualize the 2012 Budget", '#' %></li>
    <li><%= link_to "What Would You Change?", '#' %></li>
    <li><%= link_to "Want To Contact Us?", '#' %></li>
  </ul>
</div>
