<div id="header">
</div>
<div id="topnav">
  <ul id="navbar">
    <li><%= link_to "Visualize the 2012 Budget", budget_index_path %></li>
    <li><%= link_to "What Would You Change?", new_feedback_path %></li>
    <li><%= link_to "Want To Contact Us?", '/contact_us' %></li>
  </ul>
</div>
